
{% if error != None %}
    <div class="my-3 p-3 bg-danger rounded box-shadow">
        {{ error }}
    </div>
{% else %}
    {% if  updated_url != None %}
        <div class="my-3 p-3 bg-success rounded box-shadow">
            <strong style="font-size: 2em; color: white">Successfully!</strong></br>
            original url  : {{ updated_url.original_url }} </br>
            shortened url : {{ updated_url.shortened_url }} </br>
            created date  : {{ updated_url.date }} </br>
        </div>
    {% endif %}
{% endif %}
